* {
  font-family: 'Caveat' ,Arial, Helvetica, sans-serif;
}
.input-group-append {
  i {
    cursor: pointer;
    &:hover {
      color: #212529
    }
  }
}

@media (max-width: 576px) { 
  .input-group {
    width: 100% !important;
  }
  footer {
    a {
      font-size: 1.5rem !important;
    }
  }
 }
.card-image {
  width: 100%;
  height: 500px;
  background-image: url(https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_SX300.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  a {
    color: #343a40;
    text-decoration: underline;
    text-decoration-color: #343a40;
    &:hover {
      color: crimson;
      text-decoration-color: crimson;
    }
  }
}
.star-rating {
  position: relative;
  width: 100%;
  &::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(/assets/img/signs.svg);
  }
}

.swiper-button-next,
.swiper-button-prev {
  &:hover {
    color: crimson;
  }
}

footer {
  a {
    text-decoration: none !important;
    &:hover{
      color: crimson !important;
    }
  }
}
